* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.dropdown-head-top button {
    background: none;
    border: none;
    color: #949494;
    margin-top: 7px;
}
.dropdown-head-top{
    position: relative;
    display: inline-block;
}
.dropdown-head-top:hover .drop-head-content{
    display: block;
}
.drop-head-content a:hover{
    background: #00c8c8;
}
.drop-head-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop-head-content a {
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background: white;
}
/* ///////////////////////////////////// */
.header2{
    background: white;
}

.header2 .menu-bottom{
    position: relative;
}
.menu-bottom {
    position:absolute;
}
.head2-drop{
    position: relative;
}
.menu-drop-menu{
    display: none;
  padding: 20px;  
  position: absolute;
  background-color: #f8f8f8;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.head2-drop img {
    width: 250px;
}
.head2-drop:hover .menu-drop-menu{
    display: block;
}
.menu-drop-menu a{
    color: #727272;
    
}
.head2-drop button{
    border: none;
    background: none;
}
/* ///////////////////////////////////// */

.header2 .head2-but{
    border: 1px solid grey;
    padding: 12px 32px;
    background: white;
    margin-top: 550px;
    margin-left: 750px;
}
.header2 .head2-but:hover{
    box-shadow: 0px 0px 12px 12px rgba(0, 0, 0, 0.438);
}

.drop2{
    background: #00c8c8;
    padding: 8px 19px;
    color: white;
}
.drop2:hover{
    color: white;
}
.header1{
    background: #333333;
}
.menu-link{
    color: #949494;
}
.menu-link:hover{
    color: #00c8c8;
}
.nav-tabs {
    border-top: 1px solid #dee2e6;
    margin-top: 50px;
}
.nav-tabs {
    border-bottom: 1px solid #dee2e600;
}
.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
    color: #949494;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #00c8c8;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
/* section1 */
.section1{
    background: url(../img/brandbg.jpg) center center;
    background-size: cover;
    padding: 170px 0;
}
.section1 h1 , b {
    color: white;
}
.section1 b {
    margin-top: 40px;
    font-size: 25px;
}
/* section2 */
.section2{
    padding: 50px 0;
}
.section2 .sec2-text1 {
    padding: 20px;
    margin-top: 45px;
}
.section2 .sec2-text2 {
    padding: 20px;
}
.sec2-text1 h4 {
    text-transform: uppercase;
}
.sec2-text2 h4 {
    text-transform: uppercase;
}
.section2 .row1 img {
    width: 100%;
    margin-bottom: 20px;
}
.con2{
    background: whitesmoke;
}
/* footer */
 
.footer1 a {
    color: #727272;
}
.footer1{
    background: #f8f8f8;
    padding: 50px 0;
}
.footer1 b {
    color: grey;
}
.footer2 {
    background:#333333 ;
    color: #777777;
    padding: 20px;
}



/* media */
@media(max-width:1199px){
    .navbar-light .navbar-nav .nav-link {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
    }
 }
 @media(max-width:570px){
     .form-control{
         width: 50%;
         margin-right: 15px;
     }
 }